<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://thymeleaf.org">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>500 internal server error</title>-->
<!--    <object th:include="fragments/fragment :: css" th:remove="tag"></object>-->
<!--    <object th:include="fragments/fragment :: js" th:remove="tag"></object>-->

<!--</head>-->

<!--<body>-->
<!--    <nav th:replace="fragments/fragment :: navbar('404')"></nav>-->
<!--    <br>-->
<!--    <div class="d-flex align-items-center justify-content-center">-->
<!--        <div class="text-center">-->
<!--            <h1 class="display-1 fw-bold">500</h1>-->
<!--            <p class="fs-3"> <span class="text-danger">Opps!</span> Terdapat kesalahan pada halaman.</p>-->
<!--            <p class="lead">-->
<!--                Halaman yang anda inginkan tidak dapat dikunjungi-->
<!--            </p>-->
<!--            <a href="/" class="btn btn-primary">Kembali ke Beranda</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</body>-->

<!--</html>-->