<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>RumahSehat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
<body>
    <nav th:replace="fragments/fragment :: navbar(Obat)"></nav>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="justify-content-center">    
                    <h2>Tambah Obat Baru</h2>
                    <br>
                    <form th:action="@{/obat/add}" th:object="${obat}" method="POST">
                        <label>ID Obat</label>
                        <input required type="text" name="id" class="form-control">

                        <label>Nama Obat</label>
                        <input required type="text" name="nama_obat" class="form-control">

                        <label>Stok</label>
                        <input type="text" name="stok" class="form-control" th:value="100">

                        <label>Harga</label>
                        <input required type="text" name="harga" class="form-control">
                        <br>
                        <button type="submit" class="mx-2 btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <a class="mx-2 btn btn-success" href="/">Home</a>
    </div>
</body>
</html>